<p>
Dear User
</p>

<p>
New Sample Submission Code: <%=@sample.code%> (your ref <%=@sample.userref%>)<br />
Submitted By: <%="#{@sample.user.firstname} #{@sample.user.lastname}"%>
</p>

<p>
your sample analysis request has been received. Please download a
receipt using the link below. Please quote the sample code in any
correspondence. 
</p>

<p>
There is a tear-off slip at the bottom
of the receipt which you should attach to your sample.
You will be informed via email of any
changes in the status of your sample.
</p>

<p>
<%= link_to "Analysis Request Receipt", "#{sample_url(@sample, :host => MAIL_HOST)}.pdf" %>
</p>

<p>
Copies of this email are sent to both sample submitters and their
research group leaders (where different).
</p>

<p>
Newcastle Crystallography Service
</p>
